<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403633444428-n165tkvcdsuvdokm3oe7jrmp1v2gdbbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403633444428-n165tkvcdsuvdokm3oe7jrmp1v2gdbbn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>403633444428-d7eholpkandb5s7duvqors3a33esniul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbevvvimNyF4fLIJpo5nt8r2XUQ65tO5s</string>
	<key>GCM_SENDER_ID</key>
	<string>403633444428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.first818</string>
	<key>PROJECT_ID</key>
	<string>test-55cf4</string>
	<key>STORAGE_BUCKET</key>
	<string>test-55cf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403633444428:ios:b6a250ffeb6f2e848dc6e9</string>
	<key>DATABASE_URL</key>
	<string>https://test-55cf4.firebaseio.com</string>
</dict>
</plist>